/* Navbar custom styles */
.navbar {
   background-color: rgba(128, 128, 128, 0.994);
   color: white;
 }
 
 .navbar .logo {
   /* padding-left: 20px; */
   /* margin-top: 20px; */
 }
 
 .navbar .login-button {
   /* margin-right: 20px;
   text-align: right; */
 }
 
 .navbar .nav-links {
   justify-content: flex-start;
 }
 
 .navbar .logo img {
   width: 36px;
   height: 36px;
 }
 
 .navbar .login-button button {
   background-color: #ff0000;
   color: white;
   padding: 10px 20px;
   border-radius: 5px;
   font-weight: bold;
   cursor: pointer;
 }
 
 .navbar .login-button button:hover {
   background-color: #cc0000;
 }
 
 .navbar .nav-item {
   padding: 10px 20px;
 }
 
 .navbar .nav-item a {
   color: white;
   font-size: 16px;
   text-decoration: none;
 }
 
 .navbar .nav-item a:hover {
   color: #cccccc;
 }
 